<a href="https://colab.research.google.com/github/Aryan21129/Python-Mini-Projects/blob/main/Assignment1_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Assignment

#Q1 L is a list defined as L=[11,12,13,14]

In [16]:
# Add 50 and 60 to L

L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [17]:
# Remove 11 and 13 from L
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

In [18]:
# Sort L in ascending order

L.sort
print(L)

[12, 14, 50, 60]

In [19]:
# Sort L in descending order
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [20]:
# Search for 13 in L
# L= [11, 12, 13, 14]
if (13 in L) ==True:
  print("Present")

else:
  print("Absent")

  print(L)

Absent
[60, 50, 14, 12]

In [28]:
#  Count the number of elements present in L
length = len(L)
print(length)

4

In [29]:
# Sum all the elements in L
a = sum(L)
print(a)

136

In [ ]:
# Sum all ODD numbers in L
L= [11, 12, 13, 14]
for i in range(L):
  print(L)

In [ ]:
#  to sum all EVEN numbers in L

In [ ]:
# to sum all PRIME numbers in L

In [ ]:
# to clear all the elements in L

In [ ]:
#  to delete L