<a href="https://colab.research.google.com/github/Aryan21129/Python-Mini-Projects/blob/main/Assignment1_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Assignment

#Q1 L is a list defined as L=[11,12,13,14]

In [ ]:
# Add 50 and 60 to L

L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
# Remove 11 and 13 from L
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

In [ ]:
# Sort L in ascending order

L.sort
print(L)

[12, 14, 50, 60]

In [ ]:
# Sort L in descending order
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [ ]:
# Search for 13 in L
# L= [11, 12, 13, 14]
if (13 in L) ==True:
  print("Present")

else:
  print("Absent")

  print(L)

Absent
[60, 50, 14, 12]

In [ ]:
#  Count the number of elements present in L
length = len(L)
print(length)

4

In [ ]:
# Sum all the elements in L
a = sum(L)
print(a)

136

In [ ]:
# Sum all ODD numbers in L
L= [11, 12, 13, 14]
for i in range(L):
  print(L)

In [ ]:
#  to sum all EVEN numbers in L

In [ ]:
# to sum all PRIME numbers in L

In [ ]:
# to clear all the elements in L

In [ ]:
#  to delete L

##Q2 D is a dictionary defined as 
##D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

In [ ]:
# to add new entry in D; key=8 and value is 8.8
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

D[8]=8.8

print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#  to remove key=2.
D= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
# to check weather 6 key is present in D.
D={1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

print("Is 1 is present -->",1 in D)
print("Is 6 is present --> ",6 in D)

Is 1 is present --> True
Is 6 is present -->  False

In [ ]:
# to count the number of elements present in D
D={1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

len(D)

5

In [ ]:
# to add all the values present D
D={1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
print(D.values()) 
print(sum(D.values()))

dict_values([5.6, 6.6, 8.7, 7.7, 8.8])
37.4

In [ ]:
# to update the value of 3 to 7.1.
D={1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
# to clear the dictionary.
D = {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
D.clear()
print(D)

{}

##Q3.S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
## S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

## Q4. Write the following program.

## Q5. To create two lists of 10 random numbers between 10 and 30; Find

##Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

##Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.

##Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:

##Q9. Write to the file 100 random strings whose length between 10 and 15

##Q10. Write to the file all prime numbers between 600 and 800.

##Q11. WAP to calculate the time taken by a program.

##Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.

##Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 ## having maximum and minimum average marks.